table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #d8fcff;
  }
  td{
    background-color: #84d4ff5b;
  }
  form {
    margin: 0 50px;

  }
  body{
    background-color: rgba(178, 255, 255, 0.605);
  }